/* Estilos generales */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

/* Cabecera */

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
    -webkit-text-stroke: 0.5px #02977e;
}